<div><br class="Apple-interchange-newline"><!-- Título da Página -->
  <ion-row>
    <ion-col id="nome">Minha Conta</ion-col>
  </ion-row>
  
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/img/bleno.png"> <!-- Substitua pelo caminho do avatar do usuário -->
        </ion-avatar>
        <ion-label>
          <h2>Bleno Alisson</h2>
          <p>bleno137&#64;gmail.com</p>
          <p>••••••</p>
        </ion-label>
        <ion-item lines="none" (click)="sair()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Sair
        </ion-item>
      </ion-item>
     
    </ion-list>
    <div class="background-image-container"></div>
  </ion-content></div>
