<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
      <ion-title size="large">Cidades</ion-title>
    </ion-toolbar>
    
  </ion-header>

   
<ion-row>
  <ion-col class="i1">
    <img src="../../assets/img/14.avif">
    <h2>Londres</h2>
  </ion-col>
  <ion-col class="i2">
    <img src="../../assets/img/15.avif">
    <h2>Seul</h2>
  </ion-col>
  <ion-col class="i3">
    <img src="../../assets/img/13.avif">
    <h2>Jerusalém</h2>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="i3">
    <img src="../../assets/img/16.avif">
    <h2>Sydey</h2>
  </ion-col>
  <ion-col class="i2">
    <img src="../../assets/img/17.avif">
    <h2>Berlim</h2>
  </ion-col>
  <ion-col class="i1">
    <img src="../../assets/img/12.avif">
    <h2>Roma</h2>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="i2">
    <img src="../../assets/img/18.avif">
    <h2>Porto</h2>
  </ion-col>
  <ion-col class="i1">
    <img src="../../assets/img/19.avif">
    <h2>Berna</h2>
  </ion-col>
  <ion-col class="i3">
    <img src="../../assets/img/20.avif">
    <h2>Montevideu</h2>
  </ion-col>
</ion-row>
</ion-content>
