<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Paises</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-row>
    <ion-col class="i1">
      <img src="../../assets/img/02.png">
      
    </ion-col>
    <ion-col class="i2">
      <img src="../../assets/img/03.png">
     
    </ion-col>
    <ion-col class="i3">
      <img src="../../assets/img/04.png">
    
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="i3">
      <img src="../../assets/img/05.png">
     
    </ion-col>
    <ion-col class="i2">
      <img src="../../assets/img/06.png">
    
    </ion-col>
    <ion-col class="i1">
      <img src="../../assets/img/11.png">
     
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="i2">
      <img src="../../assets/img/08.png">
      
    </ion-col>
    <ion-col class="i1">
      <img src="../../assets/img/09.png">
    
    </ion-col>
    <ion-col class="i3">
      <img src="../../assets/img/10.png">
      
    </ion-col>
  </ion-row>

  <app-explore-container name="Paises"></app-explore-container>
</ion-content>
