<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Promoções
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col class="i1">
      <ion-icon name="shirt-outline"></ion-icon>
    </ion-col>
    <ion-col class="i2">
      <ion-icon name="paw-outline"></ion-icon>
    </ion-col>
    <ion-col class="i3">
      <ion-icon name="home-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="i3">
      <ion-icon name="laptop-outline"></ion-icon>
    </ion-col>
    <ion-col class="i2">
      <ion-icon name="pizza-outline"></ion-icon>
    </ion-col>
    <ion-col class="i1">
      <ion-icon name="storefront-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="i2">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-col>
    <ion-col class="i1">
      <ion-icon name="tennisball-outline"></ion-icon>
    </ion-col>
    <ion-col class="i3">
      <ion-icon name="speedometer-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <app-explore-container name="Promoções"></app-explore-container>
</ion-content>
